.content{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    align-items: end;
}

.top_btn{
    display: flex;
    gap: 32px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_container input{
    height: 40px;
    padding: 0 18px;
    color: rgb(53, 49, 49);
    font-size: large;
    font-weight: 500;
}

.form_container textarea{
    padding: 18px 18px;
    color: rgb(53, 49, 49);
    font-size: large;
    font-weight: 700;
}

.form_container label{
    font-size: 18px;
    font-weight: 600;
 position: absolute;
 top: -9px;
 left: 12px;
 background-color: white;
 padding: 0 20px;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 20px;
}

.submit_btn{
    display: flex;
    justify-content: end;
}