
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    height: 72px;
    align-items: center;

}

nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
    font-weight:  600;
    text-transform: upperc
}

nav ul li a{
    color: rgb(56, 173, 228);
    text-decoration: none;
}